* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 4000px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
}

.logo-icon {
    height: 50px;
    width: 50px;
    background-image: url(../image/Nusantara\ Anugrah\ Propertindo.png);
    background-size: cover;
    border-radius: 50%;
}

.nav-item {
    border: 1px solid;
    color: #ffffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10%;
}

.nav-item:hover {
    color: goldenrod;
}

.nav-container {
    display: flex;
}

footer {
    background: darkblue;
    color: #eeeeee;
    text-align: end;
    padding: 20px;
    font-weight: bolder;
}

#footer-logo-icon {
    height: 30px;
    width: 30px;
    background-image: url(../image/LOGO-1.png);
    background-size: cover;
    border-radius: 50%;
}

footer a {
    color: #eeeeee;
    text-decoration: none;
}

footer a:hover {
    color: goldenrod;
}

/* Gaya untuk perangkat mobile */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }
}

/* Gaya untuk tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 20px;
    }
}

/* Gaya untuk desktop */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 30px;
    }
}