*html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins, sans-serif, semi-bold;
    background-color: black;
    color: goldenrod;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.icon-media {
    width: 17px;
    height: 17px;
    color: #000000;
}
.icon-media:hover{
    color: #ffffffff;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 100vh;    
}
.icon{
    width: 65px;
    height: 65px;
    margin: 20px;
    cursor:pointer;
    border-radius: 50px;
    transition: all, .4s;
}
.icon:nth-child(1):hover{
    box-shadow: 0px 0px 0px 10px #800000;
}
.icon:nth-child(2):hover{
    box-shadow: 0px 0px 0px 10px #24A1DE;
}
.icon:nth-child(3):hover{
    box-shadow: 0px 0px 0px 10px #075e54;
}
.fa-discord{
    color: 	#008080;
}
.fa-telegram{
    color: #24A1DE;
}
.fa-whatsapp{
    color: #25d366;
}
.button {
    width: 48px;
    height: 48px;
    cursor: pointer;
    &:hover {
        fill: white;
    }
}  
.defs {
    position: absolute;
    top: -9999px;
    left: -9999px;
}  
.iframe {
    float: left;
    width: 300px;
    height: 200px;
}  
.buttons {
    padding: 1rem;
    background: #f06d06;
    float: left;
}  
body {
    padding: 1rem;
}
.footer{
    padding: 3rem;
    background-color: goldenrod;
    color: black;
}
.footer a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.footer a:hover{
    color: white;
}
.footer li{
    list-style: none;
    display: inline;
    margin: 0.5rem;
}
.footer li:hover{    
    transform: scaleX(1.5);
}
/* Gaya untuk perangkat mobile */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 10px;
    }
}

/* Gaya untuk tablet */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .container {
        padding: 20px;
    }
}

/* Gaya untuk desktop */
@media (min-width: 1025px) {
    body {
        font-size: 18px;
    }
    .container {
        padding: 30px;
    }
}
